<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>

    <%- include("base.ejs") %>

    <link rel="stylesheet" href="styles/profile.css">
</head>
<body>
    <%- include("content-header.ejs", { selected: 'profile' }); %>
        <h1>Настройки профиля</h1>
    <%- include("content-footer.ejs") %>
</body>
</html>