.recordings {
    display: flex;
    /* Самая неадаптивная хуйня на свете. */
    flex-wrap: wrap;
    justify-content: start;
}
.welcome {
    margin-bottom: 1em;
}

.recording {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5em;
    text-decoration: none;
    color: inherit;
    margin-right: 16px;
    border: 1px solid #DDD;

}
.recording-title {
    font-size: 1.5em;
    transition: .5s;
}
.recording-text {
    padding: 5px;
    line-height: 48px;
}
.recording-preview {
    width: 300px;
    height: 150px;
    margin-bottom: .5em;
    transition: 0.5s;
    color: rgba(255, 255, 255, 0);
    padding: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    background-size: cover;
}
.recording:hover .recording-preview {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .7);
}
.recording:hover .recording-title {
    font-size: 2em;
}